<button type="button" name="button" class="sumoControl" id="connect">Connect</button>
<button type="button" name="button" class="sumoControl" id="forward">Forward</button>
<button type="button" name="button" class="sumoControl" id="backward">Backward</button>
<button type="button" name="button" class="sumoControl" id="left">Left</button>
<button type="button" name="button" class="sumoControl" id="right">Right</button>
<button type="button" name="button" class="sumoControl" id="longJump">LongJump</button>
<button type="button" name="button" class="sumoControl" id="startVideo">Start Video</button>
<button type="button" name="button" class="sumoControl" id="test">Test</button>


<div id="swipe"></div>
