<button type="button" name="button">Connect</button>
<button type="button" name="button">Forward</button>
<button type="button" name="button">Backward</button>
<button type="button" name="button">Left</button>
<button type="button" name="button">Right</button>
<button type="button" name="button">LongJump</button>
<button type="button" name="button">Start Video</button>
<button type="button" name="button">Test</button>
